include ./mixins.pug
include ./templates/entry.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    section.parallax
      .parallax__layer(data-speed='0.1')
        picture
          source(media='(min-width: 1200px)', srcset=require('images/content/1.jpg'))
          +image('content/bg-mobile.jpg', 'parallax__img-bg')
      .parallax__layer(data-speed='0.25')
        picture
          source(media='(min-width: 1200px)', srcset=require('images/content/2.png'))
          img.parallax__img(src='')
      .parallax__layer(data-speed='0.30')
        picture
          source(media='(min-width: 1200px)', srcset=require('images/content/3.png'))
          img.parallax__img(src='')
      .parallax__layer(data-speed='0.35')
        picture
          source(media='(min-width: 1200px)', srcset=require('images/content/4.png'))
          img.parallax__img(src='')
      .parallax__layer(data-speed='0.40')
        picture
          source.parallax__img(media='(min-width: 1200px)', srcset=require('images/content/6.png'))
          img.parallax__img(src='')
      .parallax__layer(data-speed='0.45')
        picture
          source.parallax__img(media='(min-width: 1200px)', srcset=require('images/content/white.png'))
          img.parallax__img(src='')
    .wrapper
      .welcome-wrapper#main
        section.welcome-wrapper__intro.intro
          header.header.container
            .header__logo
              .logo ЕХ
            .header__menu.header__menu--header-closed.header__menu--no-js
              button.header__toggle(type='button' aria-label='Развернуть меню')
              .header__nav.header__nav--header
                nav.nav.nav--header
                  - var items = [{title:'Главная', href:'#main'}, {title:'Обо мне', href:'#about'}, {title:'Навыки', href:'#skills'}, {title:'Работы', href:'#portfolio'}, {title:'Отзывы', href:'#reviews'}, {title:'Связаться', href:'#contacts'}];
                  ul.nav__list
                    each item in items
                      li.nav__item
                        a.nav__link(href=`${item.href}`) #{item.title}
              .header__socials.header__socials--header
                - var icons = [{title:'insta', href:'#'}, {title:'facebook', href:'https://www.facebook.com/elena.khodanovich.58'}, {title:'github', href:'https://github.com/Elena-Kho'}];
                ul.socials.socials--header
                  each item in icons
                    li.socials__item.socials__item--header
                      a.socials__link(href=`${item.href}`)
                        +icon(item.title, 'socials__img')
          .intro__main.main.container
            p.main__text Личный сайт <br> веб-разработчика
            h1.main__heading Елена Ходанович
        section.welcome-wrapper__about.about#about.container
          h2.visually-hidden Обо мне
          .about__user.user-card
            .user-card__avatar
              +image('content/user.jpg', 'user-card__img')
            .user-card__data
              table
                tbody
                  tr
                    td.user-card__column.user-card__column--one Проживаю:
                    td.user-card__column.user-card__column--two Ярославль
                  tr
                    td.user-card__column.user-card__column--one Возраст:
                    td.user-card__column.user-card__column--two 46 лет
                  tr
                    td.user-card__column.user-card__column--one Родилась:
                    td.user-card__column.user-card__column--two 23 октября 1973
          .about__text
            .about__hello Привет, меня зовут
            h3.about__name Елена Ходанович
            .about__prof
              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать удобные, современные и интересные проекты. Больше всего я люблю строить сетки, очень уважительно отношусь к разметке и PixelPerfect. Front-end для меня — это идеальное сочетание логики и творчества.
            .about__school
              p Этот сайт я сделала, обучаясь в школе программирования LoftSchool. Он сверстан на HTML5 и CSS3 по БЭМ, с применением Pug и PostCSS. Формы и меню-бургер выполнены на Javascript, блоки с навыками, примерами работ и отзывами - на Vue.js. На сайте реализован parallax-эффект.
      section.skills#skills
        .skills__wrapper.container
          h2.skills__heading Чем я могу быть полезна вам
          .skills__intro
            p Я создаю сайты и SPA-приложения на HTML5, CSS3, Javasript и Vue.js. Верстаю адаптивно и резиново, семантично, доступно, в том числе для клавиатуры и скринридеров. Работаю с Git через консоль. В разработке использую методологию БЭМ, CSS-препроцессоры LESS/SASS, PostCSS, Pug, автоматизацию на Gulp и Webpack.
          #diagrams-component
      section.portfolio#portfolio
        .portfolio__wrapper.container.fullscreen
          h2.portfolio__heading.heading Мои работы
          .portfolio__content
            #slider-component
      .final-wrapper
        section.final-wrapper__reviews.container
          #reviews
        section.final-wrapper__contacts.contacts#contacts.container
          h2.contacts__heading.heading Связаться со мной
          form.contacts__form.form
            .form__info.form-input
              label.form-input__label(for='username') Введите ваше имя
              input#username.form-input__input.form-input__input--user(type='text', name='username', value='', placeholder='Имя Фамилия', required='')
            .form__info.form-input
              label.form-input__label(for='useremail') Введите ваш email
              input#useremail.form-input__input.form-input__input--email(type='email', name='useremail', value='', placeholder='email@example.com', required='')
            .form__info.form__info--textarea.form-input.form-input--textarea
              label.form-input__label(for='message') Сообщение
              textarea#message.form-input__message(name='message', rows='5', placeholder='В свободной форме', required='')
            button.form__button.button(type='submit') Отправить
      footer.footer
        .footer__wrapper.container
          .footer__copyright.copyright
            .copyright__year © 2020
            .copyright__info
              .copyright__name Елена Ходанович
              .copyright__site Личный сайт <br> веб-разработчика
          .footer__content
            .footer__nav
              nav.nav.nav--footer
                - var items = [{title:'Главная', href:'#main'}, {title:'Обо мне', href:'#about'}, {title:'Навыки', href:'#skills'}, {title:'Работы', href:'#portfolio'}, {title:'Отзывы', href:'#reviews'}, {title:'Связаться', href:'#contacts'}];
                ul.nav__list.nav__list--footer
                  each item in items
                    li.nav__item
                      a.nav__link(href=`${item.href}`) #{item.title}
            .footer__intro
              p Этот сайт я сделала в рамках обучения на курсе "Vue.js, продвинутая веб-разработка" школы программирования Loftschool
              .footer__intro-socials
                - var icons = [{title:'insta', href:'#'}, {title:'facebook', href:'https://www.facebook.com/elena.khodanovich.58'}, {title:'github', href:'https://github.com/Elena-Kho'}];
                ul.socials.socials--footer
                  each item in icons
                    li.socials__item.socials__item--footer
                      a.socials__link(href=`${item.href}`)
                        +icon(item.title, 'socials__img')
            .footer__quote
              p.footer__quote-text Осуществляешь ли ты свое предназначение, определяется не тем, что ты делаешь, а тем — как. Eckhart Tolle
      section.modal.modal-sent
        .container
            h2.modal__heading Письмо отправлено
            button.modal__button.button(type='button') Закрыть
      section.modal.modal-error
        .container
            h2.modal__heading.modal__heading--error
            button.modal__button.button(type='button') Закрыть
