include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    .wrapper
      .welcome-wrapper
        section.intro
          header.header.container
            .header__logo
              .logo ЕХ
            .header__nav
              nav.nav.nav--header
                - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                ul.nav__list
                  each item in items
                    li.nav__item
                      a.nav__link #{item}
            .header__socials
              - var icons = ["insta", "vk", "github"];
              ul.socials.socials--header
                each item in icons
                  li.socials__item.socials__item--header
                    a(href='').socials__link
                      +icon(item, socials__item)
          .intro__main.main.container
            .main__intro
              p.main__text Личный сайт веб-разработчика
              h1.main__heading Елена Ходанович
          .intro__scroll.scroll
            a(href='#').scroll__button Скролл
        section.about#about.container
          h2.visually-hidden Обо мне
          .about__user.user-card
            .user-card__avatar.avatar
              +image('content/user.jpg', 'avatar__img')
            .user-card__data
              table
                tbody
                  tr
                    td.user-card__column.user-card__column--one Проживаю:
                    td.user-card__column.user-card__column--two Ярославль
                  tr
                    td.user-card__column.user-card__column--one Возраст:
                    td.user-card__column.user-card__column--two 46 лет
                  tr
                    td.user-card__column.user-card__column--one Родилась:
                    td.user-card__column.user-card__column--two 23 октября 1973
          .about__text
            .about__hello Привет, меня зовут
            h3.about__name Елена Ходанович
            .about__prof
              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__school
              p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills-wrapper#skills
        section.skills.container
          h2.skills__heading Чем я могу быть полезен вам
          .skills__intro
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          ul.skills__diagrams.diagrams
            li.diagrams__row
              h3.diagrams__heading Front-end
              -var schems = [{title: 'HTML5', perc:'75'}, {title: 'CSS3', perc:'90'}, {title: 'Javascript', perc:'25'}, {title: 'Vue.js', perc:'75'}]
              ul.diagrams__list
                each item in schems
                  li.diagrams__item
                    h4.diagrams__title #{item.title}
                    svg(width="150" height="150").circle
                      circle(cx='75' cy='75' r='65' fill='transparent' stroke='#e9e9e9').circle__icon.circle__icon--under
                      circle(cx='75' cy='75' r='65' fill='transparent' stroke='url(#grad)' stroke-dashoffset=`${item.perc}%`).circle__icon.circle__icon--above
                      defs
                        linearGradient(id='grad')
                          stop(offset="0%" stop-color="#bb00ff")
                          stop(offset="100%" stop-color="#5900ff")
            li.diagrams__row
              h3.diagrams__heading Workflow
              -var schems = [{title: 'GIT', perc:'75'}, {title: 'Terminal', perc:'90'}, {title: 'Galp', perc:'25'}, {title: 'Webpack', perc:'75'}]
              ul.diagrams__list
                each item in schems
                  li.diagrams__item
                    h4.diagrams__title #{item.title}
                    svg(width="150" height="150").circle
                      circle(cx='75' cy='75' r='65' fill='transparent' stroke='#e9e9e9').circle__icon.circle__icon--under
                      circle(cx='75' cy='75' r='65' fill='transparent' stroke='url(#grad)' stroke-dashoffset=`${item.perc}%`).circle__icon.circle__icon--above
                      defs
                        linearGradient(id='grad')
                          stop(offset="0%" stop-color="#bb00ff")
                          stop(offset="100%" stop-color="#5900ff")
      .portfolio-wrapper#portfolio
        section.portfolio.container
          h2.portfolio__heading.heading Мои работы
          .portfolio__wrapper
            .portfolio__slider
              .portfolio__big-img
                +image('content/preview_big-desktopHd.jpg', 'portfolio__preview-big')
              ul.portfolio__list-img
                li.portfolio__item-img
                  a(href='')
                    +image('content/preview_small_1-desktopHd.jpg', 'portfolio__preview-big')
                li.portfolio__item-img
                  a(href='')
                    +image('content/preview_small_2-desktopHd.jpg', 'portfolio__preview-big')
                li.portfolio__item-img
                  a(href='')
                    +image('content/preview_small_3-desktopHd.jpg', 'portfolio__preview-big')
                li.portfolio__item-img
                  a(href='')
                    +image('content/preview_small_4-desktopHd.jpg', 'portfolio__preview-big')
              ul.portfolio__arrows-list
                li.portfolio__arrows-item
                  button.portfolio__arrows-btn(type='button', aria-label='Вверх')
                li.portfolio__arrows-item
                  button.portfolio__arrows-btn(type='button', aria-label='Вниз')
            .portfolio__text
              ul.portfolio__tags
                li.portfolio__tag HTML
                li.portfolio__tag CSS
                li.portfolio__tag Javascript
              h3.portfolio__text-heading Сайт школы образования
              p.portfolio__text-intro Где я только не проходила обучение веб-разработке... Сколько самых тяжелых испытаний и бессонных ночей!
              a.portfolio__text-link(href='#') Посмотреть сайт
      .final-wrapper
        section.reviews#reviews.container
          h2.reviews__heading.heading Что обо мне говорят
          ul.reviews__arrows-list
            li.reviews__arrows-item
              button.reviews__arrow(type='button', aria-label='Назад')
            li.reviews__arrows-item
              button.reviews__arrow(type='button', aria-label='Вперед')
          ul.reviews__list
            li.reviews__item
              .reviews__intro Елена проходила обучение веб-разработке не где-то, а в LoftSchool! Сколько только самых тяжелых испытаний и бессонных ночей!
              .reviews__avatar.avatar
                +image('content/avatar1.jpg', 'avatar__img')
              .reviews__pers
                .reviews__pers-name Ковальчук Дмитрий
                .reviews__pers-pos Основатель Loftschool
            li.reviews__item
              .reviews__intro Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
              .reviews__avatar.avatar
                +image('content/avatar2.jpg', 'avatar__img')
              .reviews__pers
                .reviews__pers-name Владимир Сабанцев
                .reviews__pers-pos Преподаватель
        section.contacts#contacts.container
          h2.contacts__heading.heading Связаться со мной
          form.contacts__form
            .contacts__info.form-input
              label.form-input__label(for='name') Введите ваше имя
              input#name.form-input__input.form-input__input--user(type='text', name='username', value='', placeholder='Имя Фамилия', required='')
            .contacts__info.form-input
              label.form-input__label(for='email') Введите ваш email
              input#name.form-input__input.form-input__input--email(type='email', name='useremail', value='', placeholder='email@example.com', required='')
            .contacts__info.form-input.form-input--textarea
              label.form-input__label(for='message') Сообщение
              textarea#message.form-input__message(name='message', rows='5', placeholder='В свободной форме', required='')
            button.contacts__button.button(type='submit') Отправить
      .footer-wrapper
        footer.footer.container
          .footer__copyright.copyright
            .copyright__year © 2019
            .copyright__info
              .copyright__name Елена Ходанович
              .copyright__site Личный сайт веб-разработчика
          .footer__content
            .footer__nav
              nav.nav.nav--footer
                - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                ul.nav__list
                  each item in items
                    li.nav__item
                      a.nav__link #{item}
            .footer__intro
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
              .footer__intro-socials
                - var icons = ["insta", "vk", "github"];
                ul.socials.socials--footer
                  each item in icons
                    li.socials__item.socials__item--footer
                      a(href='').socials__link
                        +icon(item, socials__item)
            .footer__quote
              p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              p.footer__quote-name Martin Golding
